
@page "/admin"
@using Store.Pages.Admin;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>SportsStore Admin</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <base href="/" />
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>